.track{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
}

.trackVisual{
    position: relative;
    width: 58vw;
    height: 20vh;
    overflow-x: scroll;
    clear: both;
}

.trackNote{
    border: 1px solid #33CC33;
    color: #33CC33;
    position: absolute;
}

.ButtonHolder{
    position: absolute;
    top: 3vh;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 2vmin 2vmin;
    padding: 1vmin;
}

#LeftButtonHolder{
    left: -16%;
    width: 20%;
}

#RightButtonHolder{
    left: 93%;
    width: 20%;
}

.ButtonHolder button{
    color: #33CC33;
    border: 2px solid black;
    width: fit-content;
}

.ButtonHolder div{
    color: #33CC33;
    border: 2px solid black;
    width: fit-content;
}

.ButtonHolder div button{
    background: none;
    color: #33CC33;
    width: fit-content;
    border: none;
}

.ButtonHolder div button .disabled{
    opacity: 50%;
    color: grey;
}

.ButtonHolder .active{
    background-color: transparent;
}

.ButtonHolder .disabled{
    background-color: inherit;
    opacity: 50%;
}

label{
    padding-left: 5px;
    border: 2px solid black;
    width: fit-content;
}

label input{
    background-color: transparent;
    border:0px;
    width: 2vw;
    color: #33CC33;
    text-align: center;
}