.trackNote{
    border: 1px solid #33CC33;
}

#ButtonHolder{
    display: flex;
}


#ButtonHolder button{
    color: #33CC33;
    border: 2px solid black;
    width: fit-content;
}
#ButtonHolder .active{
    background-color: transparent;
}

#ButtonHolder .disabled{
    background-color: inherit;
    opacity: 50%;
}

label{
    padding-left: 5px;
    border: 2px solid black;
    width: fit-content;
}

label input{
    background-color: transparent;
    border:0px;
    width: 2vw;
    color: #33CC33;
    text-align: center;
}