.App {
  text-align: center;
}

#Content{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

h3{
  margin-top:0.5rem;
  color: #33CC33;
}

#NoteBtn{
  padding: .25rem;
  margin:.5rem;
  height:2rem;
  width:2rem;
  border-radius: 100%;
  background-color: rgb(71, 65, 65);
}

.activeBtn{
  background-color: #33CC33;
}

