.row{
    display: flex;
    justify-content: center;
    width: 75vw;
}

#NoteGrid{
    display: flex;
    width:85vw;
    flex-direction: column;
    align-items: center;
}

#KeyboardTitle{
    display:inherit;
}

.sliderHolder{
    display: flex;
    margin: 0.5vh 0vw;
    margin-bottom: 3vh;
}

.rangeDetails{
    margin: 0.5vh 1vw 0vh 0vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height:2vh;
    transition: margin 1s;
}

.rangeDetails > summary{
    position: relative;
    cursor: pointer;
    width: fit-content;
    padding: 0.25vh 1vw 0.25vh 1vw;
    background-color: inherit;
    border: 2px black solid;
    border-radius: 45%;
    color: #33CC33;
    z-index: 2;
    transition: transform 1s;
}

/*.rangeDetails>summary::marker {
    content: "";
    display:none;
}

.rangeDetails>summary::before{
    content: '';
    position: absolute;
    left: 0.5rem;
    top:0.45rem;
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent #33CC33;
    transform: rotate(0);
    transform-origin: .4rem 50%;
    transition: .25s transform ease;
}*/

.rangeDetails > div{
    position: relative;
    margin: -2px 0px;
    cursor: pointer;
    width:fit-content;
    height: 0vh;
    transition: height 1;
    border: 2px black solid;
    z-index: 1;
}

.rangeDetails[open]{
    margin-bottom: 2.5vh;
}

.rangeDetails[open] > div{
    height: 2vh;
}

.rangeDetails[open] > summary{
    border-radius: 45% 45% 0% 0%;
    border-color: black black #181818 black;
}

.rangeSlider {
    width: 11vw;
}

#NoteContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 84vw;
    padding: .5vw;
    flex-wrap: wrap;
}

.gridBtn{
    user-select: none;
    cursor: pointer;
    width: 7vw; /*Each row should have 1 octave, 85/12=7*/
    background-color: #181818;
}
.gridBtn::selection{
    user-select: none;
    color: #000;
    background: transparent;
}
.gridBtn::-moz-selection {
    user-select: none;
    color: #000;
    background: transparent;
}

.sliderContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.customSlider{
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    padding: 2px;
    display: flex;
    align-items: center;
}

.customSlider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    border-radius: 0%;
    width: 1.5vh; /* Set a specific slider handle width */
    height: 1.5vh; /* Slider handle height */
    background: #33CC33; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
  
.customSlider::-moz-range-thumb {
    border-radius: 0%;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #33CC33; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.sliderWithHoriLine{ /*Attached to span parenting a slider */
    margin: 7px 0px;
    width:fit-content;
    text-align: center;
    border-bottom: 1px solid black;
    line-height: 0.1em;
}

.sliderWithHoriLine input{
    margin: -7px 0px;

    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.sliderWithHoriLine input::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    border-radius: 0%;
    width: 1.5vh; /* Set a specific slider handle width */
    height: 1.5vh; /* Slider handle height */
    background: #33CC33; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
  
.sliderWithHoriLine input::-moz-range-thumb {
    border-radius: 0%;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #33CC33; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

input[type=range][orient=vertical]{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    width: 2vh;
    height: 5vh;
    padding: 0 5px;
}

.param{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0vh 1vw;
}

.textContent{
    color: #33CC33;
    background-color: #181818;

}

.textSelected{
    color:black;
    background-color: #33CC33;
}
.textSelected > span{
    color:black;
    background-color: #33CC33;
}

.disabled{
    color: lightslategrey;
}