.row{
    display: flex;
    justify-content: center;
    width: 75vw;
}

#NoteGrid{
    width:85vw;
}

#NoteGrid > button{
    width: 8.3vw;
}

#NoteContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

span{
    width: min-content;
    font-size: smaller;
}

.sliderContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input[type=range][orient=vertical]{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    width: 2vh;
    height: 5vh;
    padding: 0 5px;
}

.param{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0vh 1vw;
}

.textContent{
    color: #33CC33;
}

.textSelected{
    color:black;
    background-color: #33CC33;
}
.textSelected > span{
    color:black;
    background-color: #33CC33;
}